In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy.stats as stats
from datetime import datetime
import warnings

warnings.simplefilter("ignore")

In [2]:
wiaa_gbb2223 = pd.read_csv("wiaa2022.csv", header=None).rename(columns={
    0:"Team",
    1:"Enrollment", 
    2:"Website", 
    3:"Teams_Played", 
    4:"Results", 
    5:"Dates"
}).sort_values(by="Team").reset_index(drop=True)
wiaa_gbb2223.head(15)

,Team,Enrollment,Website,Teams_Played,Results,Dates
0,Abbotsford,241,https://schools.wiaawi.org/Directory/Schedule/...,"['Chequamegon', 'Colby', 'Athens', 'Greenwood'...","['68-17', '65-26', '33-76', '60-33', '62-52', ...","['11/17/2022', '11/21/2022', '11/22/2022', '11..."
1,Abundant Life Christian/St. Ambrose,161,https://schools.wiaawi.org/Directory/Schedule/...,"['Central WI Christian', 'Juda', 'Parkview', '...","['31-51', '47-33', '31-41', '54-57', '65-52', ...","['11/17/2022', '11/21/2022', '11/29/2022', '12..."
2,Adams-Friendship,477,https://schools.wiaawi.org/Directory/Schedule/...,"['Royall', 'Princeton/Green Lake', 'Portage', ...","['40-57', '48-22', '72-16', '36-40', '54-52', ...","['11/17/2022', '11/22/2022', '11/28/2022', '12..."
3,Albany,94,https://schools.wiaawi.org/Directory/Schedule/...,"['Benton', 'Belleville', 'Williams Bay', 'Belm...","['68-21', '53-41', '65-33', '53-52', '66-40', ...","['11/15/2022', '11/17/2022', '11/19/2022', '11..."
4,Algoma,198,https://schools.wiaawi.org/Directory/Schedule/...,"['Ashwaubenon', 'Luxemburg-Casco', 'Chilton', ...","['30-40', '50-45', '19-35', '46-39', '40-24', ...","['11/15/2022', '11/17/2022', '11/21/2022', '11..."
5,Alma Center Lincoln,164,https://schools.wiaawi.org/Directory/Schedule/...,"['New Lisbon', 'Port Edwards', 'Independence',...","['61-31', '59-42', '48-26', '45-38', '29-71', ...","['11/17/2022', '11/22/2022', '11/29/2022', '12..."
6,Alma/Pepin,138,https://schools.wiaawi.org/Directory/Schedule/...,"['Glenwood City', 'Spring Valley', 'Alma Cente...","['59-26', '56-29', '38-45', '33-44', '47-32', ...","['11/17/2022', '11/22/2022', '12/02/2022', '12..."
7,Almond-Bancroft,122,https://schools.wiaawi.org/Directory/Schedule/...,"['Marion', 'Weyauwega-Fremont', 'Stockbridge',...","['54-10', '49-44', '90-11', '55-33', '66-11', ...","['11/17/2022', '11/21/2022', '11/29/2022', '12..."
8,Altoona,529,https://schools.wiaawi.org/Directory/Schedule/...,"['Arcadia', 'Ellsworth', 'Osceola', 'Elk Mound...","['70-50', '35-46', '56-49', '44-52', '54-60', ...","['11/17/2022', '11/22/2022', '12/01/2022', '12..."
9,Amery,485,https://schools.wiaawi.org/Directory/Schedule/...,"['Cumberland', 'Baldwin-Woodville', 'Grantsbur...","['44-19', '60-65', '56-34', '65-40', '73-62', ...","['11/17/2022', '11/22/2022', '12/02/2022', '12..."
10,Amherst,338,https://schools.wiaawi.org/Directory/Schedule/...,"['Waupaca', 'Brillion', 'Freedom', 'Adams-Frie...","['55-32', '37-58', '27-64', '40-36', '61-40', ...","['11/17/2022', '11/22/2022', '11/29/2022', '12..."
11,Antigo,703,https://schools.wiaawi.org/Directory/Schedule/...,"['Clintonville', 'Wittenberg-Birnamwood', 'Nor...","['38-45', '30-55', '50-23', '51-63', '60-53', ...","['11/17/2022', '11/21/2022', '11/29/2022', '12..."
12,Appleton East,1606,https://schools.wiaawi.org/Directory/Schedule/...,"['Green Bay Preble', 'Oak Creek', 'Homestead',...","['72-55', '47-56', '65-75', '73-61', '54-75', ...","['11/22/2022', '11/25/2022', '11/26/2022', '11..."
13,Appleton North,1736,https://schools.wiaawi.org/Directory/Schedule/...,"['Seymour', 'De Pere', 'Kimberly', 'Kaukauna',...","['45-35', '46-29', '40-60', '59-61', '42-41', ...","['11/18/2022', '11/22/2022', '11/29/2022', '12..."
14,Appleton West,1370,https://schools.wiaawi.org/Directory/Schedule/...,"['Stevens Point', 'West Bend West', 'Manitowoc...","['60-77', '76-59', '83-62', '54-82', '34-78', ...","['11/15/2022', '11/17/2022', '11/26/2022', '11..."

In [3]:
wiaa_gbb2223[wiaa_gbb2223["Team"].str.contains("Racine St. Catherines")]

Empty DataFrame
Columns: [Team, Enrollment, Website, Teams_Played, Results, Dates]
Index: []

In [4]:
wiaa_gbb_tournament_seeding = pd.read_excel("Tournament Seeds 2022 and 2023 WI GBB.xlsx").iloc[1:, :]
wiaa_gbb_tournament_seeding.head(10)

                                   Team Division Sectional Seed  Year
1                            Abbotsford        4        2A    7  2022
2                            Abbotsford        4        1B    5  2023
3   Abundant Life Christian/St. Ambrose        5        4A   11  2022
4   Abundant Life Christian/St. Ambrose        5        4A    8  2023
5                      Adams-Friendship        3        1B    8  2022
6                      Adams-Friendship        3        1B    6  2023
7                                Albany        5        4A    1  2022
8                                Albany        5        4A    1  2023
9                                Algoma        4        2B    9  2022
10                               Algoma        4        2B    9  2023

In [5]:
tourney_23 = wiaa_gbb_tournament_seeding[wiaa_gbb_tournament_seeding.Year==2023].reset_index(drop=True)
tourney_23.head(10)

                                  Team Division Sectional Seed  Year
0                           Abbotsford        4        1B    5  2023
1  Abundant Life Christian/St. Ambrose        5        4A    8  2023
2                     Adams-Friendship        3        1B    6  2023
3                               Albany        5        4A    1  2023
4                               Algoma        4        2B    9  2023
5                  Alma Center Lincoln        5        3A    3  2023
6                           Alma/Pepin        5        3A   10  2023
7                      Almond-Bancroft        5        2A    5  2023
8                              Altoona        3        1B    3  2023
9                                Amery        3        1A    4  2023

In [6]:
seeds_results_23 = wiaa_gbb2223.merge(right=tourney_23, on="Team", how="outer")
seeds_results_23.head()

,Team,Enrollment,Website,Teams_Played,Results,Dates,Division,Sectional,Seed,Year
0,Abbotsford,241.0,https://schools.wiaawi.org/Directory/Schedule/...,"['Chequamegon', 'Colby', 'Athens', 'Greenwood'...","['68-17', '65-26', '33-76', '60-33', '62-52', ...","['11/17/2022', '11/21/2022', '11/22/2022', '11...",4,1B,5,2023
1,Abundant Life Christian/St. Ambrose,161.0,https://schools.wiaawi.org/Directory/Schedule/...,"['Central WI Christian', 'Juda', 'Parkview', '...","['31-51', '47-33', '31-41', '54-57', '65-52', ...","['11/17/2022', '11/21/2022', '11/29/2022', '12...",5,4A,8,2023
2,Adams-Friendship,477.0,https://schools.wiaawi.org/Directory/Schedule/...,"['Royall', 'Princeton/Green Lake', 'Portage', ...","['40-57', '48-22', '72-16', '36-40', '54-52', ...","['11/17/2022', '11/22/2022', '11/28/2022', '12...",3,1B,6,2023
3,Albany,94.0,https://schools.wiaawi.org/Directory/Schedule/...,"['Benton', 'Belleville', 'Williams Bay', 'Belm...","['68-21', '53-41', '65-33', '53-52', '66-40', ...","['11/15/2022', '11/17/2022', '11/19/2022', '11...",5,4A,1,2023
4,Algoma,198.0,https://schools.wiaawi.org/Directory/Schedule/...,"['Ashwaubenon', 'Luxemburg-Casco', 'Chilton', ...","['30-40', '50-45', '19-35', '46-39', '40-24', ...","['11/15/2022', '11/17/2022', '11/21/2022', '11...",4,2B,9,2023

In [7]:
seeds_results_23[(seeds_results_23["Seed"].isnull()==True) | (seeds_results_23["Enrollment"].isnull()==True)]

,Team,Enrollment,Website,Teams_Played,Results,Dates,Division,Sectional,Seed,Year
32,Bayfield,104.0,https://schools.wiaawi.org/Directory/Schedule/...,[],[],[],NaN,NaN,NaN,NaN
40,Birchwood,73.0,https://schools.wiaawi.org/Directory/Schedule/...,"['Shell Lake', 'Cornell', 'Prairie Farm', 'Nor...","['40-63', '35-61', '14-82', '35-53', '36-61', ...","['12/02/2022', '12/06/2022', '12/13/2022', '12...",NaN,NaN,NaN,NaN
56,Bruce,150.0,https://schools.wiaawi.org/Directory/Schedule/...,"['Clayton', 'Cornell', 'New Auburn', 'Lake Hol...","['13-61', '29-68', '27-57', '18-57', '14-91', ...","['12/06/2022', '12/09/2022', '12/13/2022', '12...",NaN,NaN,NaN,NaN
87,Coulee Christian/Providence Academy (La Crosse),69.0,https://schools.wiaawi.org/Directory/Schedule/...,"['Independence', 'Wonewoc-Center', 'Brookwood'...","['18-48', '23-60', '15-68', '16-41', '13-11', ...","['11/17/2022', '12/12/2022', '01/09/2023', '01...",NaN,NaN,NaN,NaN
92,Cudahy,660.0,https://schools.wiaawi.org/Directory/Schedule/...,[],[],[],NaN,NaN,NaN,NaN
102,Destiny,249.0,https://schools.wiaawi.org/Directory/Schedule/...,['Kenosha Reuther'],['39-79'],['12/21/2022'],NaN,NaN,NaN,NaN
110,Eastbrook Academy,74.0,https://schools.wiaawi.org/Directory/Schedule/...,[],[],[],NaN,NaN,NaN,NaN
125,Faith Christian Academy (Wausau),39.0,https://schools.wiaawi.org/Directory/Schedule/...,"['FCHAA', 'Liberty Christian School', 'Riversi...","['41-49', '16-23', '38-43', '50-40', '16-21', ...","['12/01/2022', '12/09/2022', '12/13/2022', '12...",NaN,NaN,NaN,NaN
143,Gilmanton,41.0,https://schools.wiaawi.org/Directory/Schedule/...,"['Boyceville', 'New Auburn', 'Alma Center Linc...","['26-72', '26-58', '9-63', '17-60', '21-55', '...","['11/28/2022', '12/01/2022', '12/17/2022', '12...",NaN,NaN,NaN,NaN
148,Granton,54.0,https://schools.wiaawi.org/Directory/Schedule/...,[],[],[],NaN,NaN,NaN,NaN
154,Green Bay West,876.0,https://schools.wiaawi.org/Directory/Schedule/...,['Green Bay East'],['23-51'],['01/28/2023'],NaN,NaN,NaN,NaN
166,Hmong American Peace,403.0,https://schools.wiaawi.org/Directory/Schedule/...,"['Saint Anthony', 'Messmer', 'Salam', 'Saint A...","['14-35', '9-70', '10-69', '22-39']","['12/31/2022', '01/09/2023', '01/20/2023', '02...",NaN,NaN,NaN,NaN
220,Madison Country Day,130.0,https://schools.wiaawi.org/Directory/Schedule/...,[],[],[],NaN,NaN,NaN,NaN
248,Messmer,542.0,https://schools.wiaawi.org/Directory/Schedule/...,"['Racine St. Catherines', 'Brookfield Academy'...","['20-70', '25-90', '38-42', '68-25', '27-74', ...","['11/17/2022', '11/22/2022', '11/30/2022', '12...",NaN,NaN,NaN,NaN
255,Milwaukee Excellence Charter School,305.0,https://schools.wiaawi.org/Directory/Schedule/...,"['Campbellsport', 'Port Washington', 'Milwauke...","['22-55', '11-64', '16-19', '27-62', '50-65', ...","['11/17/2022', '11/22/2022', '11/29/2022', '11...",NaN,NaN,NaN,NaN
265,Milwaukee South,1091.0,https://schools.wiaawi.org/Directory/Schedule/...,"['Obama SCTE', 'Milwaukee Hamilton/Audubon', '...","['2-0', '46-25', '25-68', '37-56', '61-52', '4...","['11/28/2022', '11/29/2022', '12/01/2022', '12...",NaN,NaN,NaN,NaN
303,Obama SCTE,456.0,https://schools.wiaawi.org/Directory/Schedule/...,"['Milwaukee South', 'Milwaukee South', 'Milwau...","['0-2', '0-2', '0-2']","['11/28/2022', '01/19/2023', '01/20/2023']",NaN,NaN,NaN,NaN
325,Phelps,25.0,https://schools.wiaawi.org/Directory/Schedule/...,"['Goodman/Pembine', 'Goodman/Pembine']","['35-44', '36-53']","['01/05/2023', '02/13/2023']",NaN,NaN,NaN,NaN
347,Racine St. Catherine’s,464.0,https://schools.wiaawi.org/Directory/Schedule/...,"['Messmer', 'Milwaukee Lutheran', 'Racine Park...","['70-20', '47-34', '72-48', '57-60', '49-76', ...","['11/17/2022', '11/22/2022', '11/29/2022', '12...",NaN,NaN,NaN,NaN
369,Saint Joan Antida/Tenor/Veritas,1138.0,https://schools.wiaawi.org/Directory/Schedule/...,"['Saint Anthony', 'Salam', 'Faith Christian (W...","['30-31', '6-57', '15-46', '18-69', '38-29', '...","['11/29/2022', '12/01/2022', '12/06/2022', '01...",NaN,NaN,NaN,NaN
434,Washington Island,13.0,https://schools.wiaawi.org/Directory/Schedule/...,[],[],[],NaN,NaN,NaN,NaN
440,Waukesha South,1324.0,https://schools.wiaawi.org/Directory/Schedule/...,"['Milwaukee Lutheran', 'Elkhorn', 'Oshkosh Wes...","['48-43', '31-65', '27-75', '19-60', '30-78', ...","['11/18/2022', '11/22/2022', '11/26/2022', '11...",NaN,NaN,NaN,NaN
465,White Lake,37.0,https://schools.wiaawi.org/Directory/Schedule/...,['Saint Thomas Aquinas'],['5-46'],['11/17/2022'],NaN,NaN,NaN,NaN
484,Racine St. Catherine's,NaN,NaN,NaN,NaN,NaN,3,4B,6,2023

We need to drop the last row and overwrite the row with Racine St. Catherine's:

In [8]:
# Overwrite that row with the columns for Racine St. Catherines, row 347
seeds_results_23.iloc[347, 6:] = seeds_results_23.iloc[484, 6:]
# Drop the last row
seeds_results_23 = seeds_results_23.iloc[:484, :]

Okay, let's try to make this functional:

In [9]:
# Set an empty dataframe for saving data
seeding_data = pd.DataFrame({
    "Team": [],
    "Wins": [],
    "Losses": [],
    "Points_For": [],
    "Points_Against": [],
    "Win_Percentage": []
})
# Loop through all schools
for i in range(len(wiaa_gbb2223)):
    # Grab each record individually
    record = wiaa_gbb2223.iloc[i, :]
    # Set counters
    wins = 0
    losses = 0
    pts_for = 0
    pts_agn = 0
    # Set teams played
    teams_played_all = record.iloc[3].split("', ")
    # Clean the strings
    for j in range(len(teams_played_all)):
        teams_played_all[j] = str(teams_played_all[j]).replace("[", "")
        teams_played_all[j] = str(teams_played_all[j]).replace("]", "")
        teams_played_all[j] = str(teams_played_all[j]).replace("'", "")
    # See if that worked
    #print(teams_played_all)
    # Get all the scores
    game_scores = record.iloc[4].split(", ")
    # Clean scores
    for j in range(len(game_scores)):
        game_scores[j] = str(game_scores[j]).replace("[", "")
        game_scores[j] = str(game_scores[j]).replace("]", "")
        game_scores[j] = str(game_scores[j]).replace("'", "")
    # See if that worked
    #print(game_scores)
    # Set dates of games
    date_of_games = record.iloc[5].split(", ")
    # Clean dates
    for j in range(len(date_of_games)):
        date_of_games[j] = str(date_of_games[j]).replace("[", "")
        date_of_games[j] = str(date_of_games[j]).replace("]", "")
        date_of_games[j] = str(date_of_games[j]).replace("'", "")
        try:
            date_of_games[j] = datetime.strptime(str(date_of_games[j]), '%m/%d/%Y')
        except ValueError:
            date_of_games[j] = datetime.strptime("04/01/2023", '%m/%d/%Y')
    # Print the team
    team = str(record.iloc[0])
    #print(team)
    # Loop through to get wins and losses prior to the seeding date
    for j in range(len(teams_played_all)):
        # Check the date to get games considered in seeding - any games after 02/13/2023 will not be considered
        try:
            if datetime(2023, 2, 12, 0, 0) >= date_of_games[j]:
                # Split the score
                team_score = game_scores[j].split("-")[0]
                opponent_score = game_scores[j].split("-")[1]
                # Check who won:
                if team_score > opponent_score:
                    wins += 1
                elif opponent_score > team_score:
                    losses += 1
                else:
                    print("No ties in basketball")
                # Add points for and points against on season
                pts_for += float(team_score)
                pts_agn += float(opponent_score)
            else:
                continue
        except ValueError:
            print("Invalid date value")
    # Set the values of the dataframe
    seeding_data.at[i, "Team"] = str(team)
    seeding_data.at[i, "Wins"] = wins
    seeding_data.at[i, "Losses"] = losses
    seeding_data.at[i, "Points_For"] = pts_for
    seeding_data.at[i, "Points_Against"] = pts_agn
    try:
        seeding_data.at[i, "Win_Percentage"] = round((wins / (wins+losses)), 5)
    except ZeroDivisionError:
        seeding_data.at[i, "Win_Percentage"] = 0.
# See filled out dataframe
seeding_data

No ties in basketball
No ties in basketball

,Team,Wins,Losses,Points_For,Points_Against,Win_Percentage
0,Abbotsford,13.0,8.0,1045.0,882.0,0.61905
1,Abundant Life Christian/St. Ambrose,10.0,9.0,984.0,833.0,0.52632
2,Adams-Friendship,7.0,14.0,845.0,931.0,0.33333
3,Albany,23.0,0.0,1501.0,705.0,1.00000
4,Algoma,10.0,13.0,1012.0,1025.0,0.43478
...,...,...,...,...,...,...
478,Wisconsin Rapids,6.0,17.0,1112.0,1355.0,0.26087
479,Wittenberg-Birnamwood,18.0,3.0,1265.0,767.0,0.85714
480,Wonewoc-Center,10.0,9.0,837.0,802.0,0.52632
481,Wrightstown,15.0,7.0,1192.0,1007.0,0.68182
482,Xavier,8.0,15.0,1190.0,1215.0,0.34783

Okay, we were able to go through and figure out the winners and losers of each game. Now we need to calculate:
- Opponents' winning percentage
- Opponents' opponents' winning percentage
- Defeated opponents' winning percentage
- Defeated opponents' opponents' winning percentage

How do we calculate that?
- Go down the list of seeded teams and if the team is in the list, add it to opponents' wins and losses column 
  - If a team is not in the list, give +10 wins and +10 losses
- Defeated opponents-same idea for the first point
  - If a defeated team is not in the list, give +10 wins and +10 losses
  
Once we have calculated this, how can we the opponents' opponents' wins and losses and defeated opponents' opponents' wins and losses?
- Take the list of opponents' opponents' and add their W-L record
  - Treat the opponents' opponents' that are out of state and add 10 wins and 10 losses
- Defeated opponents' opponents' win% is the same

In [10]:
# Recalibrate the opponents' wins and losses
seeding_data["Opponents_Wins"] = 0.
seeding_data["Opponents_Losses"] = 0.
# Loop through all schools
for i in range(len(wiaa_gbb2223)):
    # Grab each record individually
    record = wiaa_gbb2223.iloc[i, :]
    # Set counters
    wins = 0
    losses = 0
    pts_for = 0
    pts_agn = 0
    # Set teams played
    teams_played_all = record.iloc[3].split("', ")
    # Clean the strings
    for j in range(len(teams_played_all)):
        teams_played_all[j] = str(teams_played_all[j]).replace("[", "")
        teams_played_all[j] = str(teams_played_all[j]).replace("]", "")
        teams_played_all[j] = str(teams_played_all[j]).replace("'", "")
    # Get the set to get a unique list and cast it back to a list
    teams_played_unique = list(set(teams_played_all))
    # See if that worked
    #print(game_scores)
    # Set dates of games
    date_of_games = record.iloc[5].split(", ")
    # Clean dates
    for j in range(len(date_of_games)):
        date_of_games[j] = str(date_of_games[j]).replace("[", "")
        date_of_games[j] = str(date_of_games[j]).replace("]", "")
        date_of_games[j] = str(date_of_games[j]).replace("'", "")
        try:
            date_of_games[j] = datetime.strptime(str(date_of_games[j]), '%m/%d/%Y')
        except ValueError:
            date_of_games[j] = datetime.strptime("04/01/2023", '%m/%d/%Y')
    # Print the team
    team = str(record.iloc[0])
    #print(team)
    # Loop through to get wins and losses prior to the seeding date
    for j in range(len(teams_played_unique)):
        # Check the date to get games considered in seeding - any games after 02/13/2023 will not be considered
        try:
            if datetime(2023, 2, 12, 0, 0) >= date_of_games[j]:
                try:
                    # Get the opponents' record
                    opponent_wins = seeding_data[seeding_data["Team"] == str(teams_played_unique[j])]["Wins"].values[0]
                    wins += opponent_wins
                    #print(opponent_wins)
                    opponent_losses = seeding_data[seeding_data["Team"] == str(teams_played_unique[j])]["Losses"].values[0]
                    losses += opponent_losses
                # Case where team wasn't seeded or out of state
                except IndexError:
                    wins += 10
                    losses += 10
                #print(opponent_losses)
            else:
                continue
        except ValueError:
            print("Invalid date value")
    # Set the values of the dataframe
    seeding_data.at[i, "Opponents_Wins"] += wins
    seeding_data.at[i, "Opponents_Losses"] += losses
# See filled out dataframe
seeding_data

,Team,Wins,Losses,Points_For,Points_Against,Win_Percentage,Opponents_Wins,Opponents_Losses
0,Abbotsford,13.0,8.0,1045.0,882.0,0.61905,179.0,197.0
1,Abundant Life Christian/St. Ambrose,10.0,9.0,984.0,833.0,0.52632,135.0,215.0
2,Adams-Friendship,7.0,14.0,845.0,931.0,0.33333,229.0,204.0
3,Albany,23.0,0.0,1501.0,705.0,1.00000,177.0,249.0
4,Algoma,10.0,13.0,1012.0,1025.0,0.43478,186.0,179.0
...,...,...,...,...,...,...,...,...
478,Wisconsin Rapids,6.0,17.0,1112.0,1355.0,0.26087,232.0,186.0
479,Wittenberg-Birnamwood,18.0,3.0,1265.0,767.0,0.85714,211.0,172.0
480,Wonewoc-Center,10.0,9.0,837.0,802.0,0.52632,177.0,183.0
481,Wrightstown,15.0,7.0,1192.0,1007.0,0.68182,174.0,175.0
482,Xavier,8.0,15.0,1190.0,1215.0,0.34783,282.0,152.0

In [11]:
seeding_data["Opponents_Win_Percentage"] = round(seeding_data["Opponents_Wins"] / (seeding_data["Opponents_Wins"] + seeding_data["Opponents_Losses"]), 5)
seeding_data

,Team,Wins,Losses,Points_For,Points_Against,Win_Percentage,Opponents_Wins,Opponents_Losses,Opponents_Win_Percentage
0,Abbotsford,13.0,8.0,1045.0,882.0,0.61905,179.0,197.0,0.47606
1,Abundant Life Christian/St. Ambrose,10.0,9.0,984.0,833.0,0.52632,135.0,215.0,0.38571
2,Adams-Friendship,7.0,14.0,845.0,931.0,0.33333,229.0,204.0,0.52887
3,Albany,23.0,0.0,1501.0,705.0,1.00000,177.0,249.0,0.41549
4,Algoma,10.0,13.0,1012.0,1025.0,0.43478,186.0,179.0,0.50959
...,...,...,...,...,...,...,...,...,...
478,Wisconsin Rapids,6.0,17.0,1112.0,1355.0,0.26087,232.0,186.0,0.55502
479,Wittenberg-Birnamwood,18.0,3.0,1265.0,767.0,0.85714,211.0,172.0,0.55091
480,Wonewoc-Center,10.0,9.0,837.0,802.0,0.52632,177.0,183.0,0.49167
481,Wrightstown,15.0,7.0,1192.0,1007.0,0.68182,174.0,175.0,0.49857
482,Xavier,8.0,15.0,1190.0,1215.0,0.34783,282.0,152.0,0.64977

In [12]:
# Recalibrate the opponents' wins and losses
seeding_data["Opponents_Opponents_Wins"] = 0.
seeding_data["Opponents_Opponents_Losses"] = 0.
# Loop through all schools
for i in range(len(wiaa_gbb2223)):
    # Grab each record individually
    record = wiaa_gbb2223.iloc[i, :]
    # Set counters
    wins = 0
    losses = 0
    pts_for = 0
    pts_agn = 0
    # Set teams played
    teams_played_all = record.iloc[3].split("', ")
    # Clean the strings
    for j in range(len(teams_played_all)):
        teams_played_all[j] = str(teams_played_all[j]).replace("[", "")
        teams_played_all[j] = str(teams_played_all[j]).replace("]", "")
        teams_played_all[j] = str(teams_played_all[j]).replace("'", "")
    # Get the set to get a unique list and cast it back to a list
    teams_played_unique = list(set(teams_played_all))
    # See if that worked
    #print(game_scores)
    # Set dates of games
    date_of_games = record.iloc[5].split(", ")
    # Clean dates
    for j in range(len(date_of_games)):
        date_of_games[j] = str(date_of_games[j]).replace("[", "")
        date_of_games[j] = str(date_of_games[j]).replace("]", "")
        date_of_games[j] = str(date_of_games[j]).replace("'", "")
        try:
            date_of_games[j] = datetime.strptime(str(date_of_games[j]), '%m/%d/%Y')
        except ValueError:
            date_of_games[j] = datetime.strptime("04/01/2023", '%m/%d/%Y')
    # Print the team
    team = str(record.iloc[0])
    #print(team)
    # Loop through to get wins and losses prior to the seeding date
    for j in range(len(teams_played_unique)):
        # Check the date to get games considered in seeding - any games after 02/13/2023 will not be considered
        try:
            if datetime(2023, 2, 12, 0, 0) >= date_of_games[j]:
                try:
                    # Get the opponents' record
                    oo_wins = seeding_data[seeding_data["Team"] == str(teams_played_unique[j])]["Opponents_Wins"].values[0]
                    wins += oo_wins
                    #print(opponent_wins)
                    oo_losses = seeding_data[seeding_data["Team"] == str(teams_played_unique[j])]["Opponents_Losses"].values[0]
                    losses += oo_losses
                # Case where team wasn't seeded or out of state, 20 games against 10-10 teams
                except IndexError:
                    wins += 200
                    losses += 200
                #print(opponent_losses)
            else:
                continue
        except ValueError:
            print("Invalid date value")
    # Set the values of the dataframe
    seeding_data.at[i, "Opponents_Opponents_Wins"] += wins
    seeding_data.at[i, "Opponents_Opponents_Losses"] += losses
# See filled out dataframe
seeding_data

,Team,Wins,Losses,Points_For,Points_Against,Win_Percentage,Opponents_Wins,Opponents_Losses,Opponents_Win_Percentage,Opponents_Opponents_Wins,Opponents_Opponents_Losses
0,Abbotsford,13.0,8.0,1045.0,882.0,0.61905,179.0,197.0,0.47606,3656.0,3300.0
1,Abundant Life Christian/St. Ambrose,10.0,9.0,984.0,833.0,0.52632,135.0,215.0,0.38571,2822.0,3216.0
2,Adams-Friendship,7.0,14.0,845.0,931.0,0.33333,229.0,204.0,0.52887,4219.0,4034.0
3,Albany,23.0,0.0,1501.0,705.0,1.00000,177.0,249.0,0.41549,3824.0,3919.0
4,Algoma,10.0,13.0,1012.0,1025.0,0.43478,186.0,179.0,0.50959,3034.0,3229.0
...,...,...,...,...,...,...,...,...,...,...,...
478,Wisconsin Rapids,6.0,17.0,1112.0,1355.0,0.26087,232.0,186.0,0.55502,3933.0,3678.0
479,Wittenberg-Birnamwood,18.0,3.0,1265.0,767.0,0.85714,211.0,172.0,0.55091,3691.0,3268.0
480,Wonewoc-Center,10.0,9.0,837.0,802.0,0.52632,177.0,183.0,0.49167,2982.0,3241.0
481,Wrightstown,15.0,7.0,1192.0,1007.0,0.68182,174.0,175.0,0.49857,3067.0,2814.0
482,Xavier,8.0,15.0,1190.0,1215.0,0.34783,282.0,152.0,0.64977,4277.0,3804.0

In [13]:
seeding_data["Opponents_Opponents_Win_Percentage"] = round(seeding_data["Opponents_Opponents_Wins"] / (seeding_data["Opponents_Opponents_Wins"] + seeding_data["Opponents_Opponents_Losses"]), 5)
seeding_data

,Team,Wins,Losses,Points_For,Points_Against,Win_Percentage,Opponents_Wins,Opponents_Losses,Opponents_Win_Percentage,Opponents_Opponents_Wins,Opponents_Opponents_Losses,Opponents_Opponents_Win_Percentage
0,Abbotsford,13.0,8.0,1045.0,882.0,0.61905,179.0,197.0,0.47606,3656.0,3300.0,0.52559
1,Abundant Life Christian/St. Ambrose,10.0,9.0,984.0,833.0,0.52632,135.0,215.0,0.38571,2822.0,3216.0,0.46737
2,Adams-Friendship,7.0,14.0,845.0,931.0,0.33333,229.0,204.0,0.52887,4219.0,4034.0,0.51121
3,Albany,23.0,0.0,1501.0,705.0,1.00000,177.0,249.0,0.41549,3824.0,3919.0,0.49387
4,Algoma,10.0,13.0,1012.0,1025.0,0.43478,186.0,179.0,0.50959,3034.0,3229.0,0.48443
...,...,...,...,...,...,...,...,...,...,...,...,...
478,Wisconsin Rapids,6.0,17.0,1112.0,1355.0,0.26087,232.0,186.0,0.55502,3933.0,3678.0,0.51675
479,Wittenberg-Birnamwood,18.0,3.0,1265.0,767.0,0.85714,211.0,172.0,0.55091,3691.0,3268.0,0.53039
480,Wonewoc-Center,10.0,9.0,837.0,802.0,0.52632,177.0,183.0,0.49167,2982.0,3241.0,0.47919
481,Wrightstown,15.0,7.0,1192.0,1007.0,0.68182,174.0,175.0,0.49857,3067.0,2814.0,0.52151
482,Xavier,8.0,15.0,1190.0,1215.0,0.34783,282.0,152.0,0.64977,4277.0,3804.0,0.52927

In [14]:
# Recalibrate the opponents' wins and losses
seeding_data["Defeated_Opponents_Wins"] = 0.
seeding_data["Defeated_Opponents_Losses"] = 0.
# Loop through all schools
for i in range(len(wiaa_gbb2223)):
    # Grab each record individually
    record = wiaa_gbb2223.iloc[i, :]
    # Set counters
    wins = 0
    losses = 0
    pts_for = 0
    pts_agn = 0
    # Set teams played
    teams_played_all = record.iloc[3].split("', ")
    # Clean the strings
    for j in range(len(teams_played_all)):
        teams_played_all[j] = str(teams_played_all[j]).replace("[", "")
        teams_played_all[j] = str(teams_played_all[j]).replace("]", "")
        teams_played_all[j] = str(teams_played_all[j]).replace("'", "")
    # See if that worked
    #print(teams_played_all)
    # Get all the scores
    game_scores = record.iloc[4].split(", ")
    # Clean scores
    for j in range(len(game_scores)):
        game_scores[j] = str(game_scores[j]).replace("[", "")
        game_scores[j] = str(game_scores[j]).replace("]", "")
        game_scores[j] = str(game_scores[j]).replace("'", "")
    # See if that worked
    #print(game_scores)
    # Set dates of games
    date_of_games = record.iloc[5].split(", ")
    # Clean dates
    for j in range(len(date_of_games)):
        date_of_games[j] = str(date_of_games[j]).replace("[", "")
        date_of_games[j] = str(date_of_games[j]).replace("]", "")
        date_of_games[j] = str(date_of_games[j]).replace("'", "")
        try:
            date_of_games[j] = datetime.strptime(str(date_of_games[j]), '%m/%d/%Y')
        except ValueError:
            date_of_games[j] = datetime.strptime("04/01/2023", '%m/%d/%Y')
    # Print the team
    team = str(record.iloc[0])
    teams_defeated = []
    #print(team)
    # Loop through to get the teams defeated before the seeding date
    for j in range(len(teams_played_all)):
        # Check the date to get games considered in seeding - any games after 02/13/2023 will not be considered
        try:
            if datetime(2023, 2, 12, 0, 0) >= date_of_games[j]:
                # Split the score
                team_score = game_scores[j].split("-")[0]
                opponent_score = game_scores[j].split("-")[1]
                # Check who won:
                if team_score > opponent_score:
                    teams_defeated.append(teams_played_all[j])
            else:
                continue
        except ValueError:
            print("Invalid date or team value")
    # get the unique teams defeated
    defeated_unique = list(set(teams_defeated))
    # Loop through to get the defeated teams records
    for j in range(len(defeated_unique)):
        # Check the date to get games considered in seeding - any games after 02/13/2023 will not be considered
        try:
            if datetime(2023, 2, 12, 0, 0) >= date_of_games[j]:
                try:
                    # Get the opponents' record
                    do_wins = seeding_data[seeding_data["Team"] == str(defeated_unique[j])]["Wins"].values[0]
                    wins += do_wins
                    #print(opponent_wins)
                    do_losses = seeding_data[seeding_data["Team"] == str(defeated_unique[j])]["Losses"].values[0]
                    losses += do_losses
                # Case where team wasn't seeded or out of state, defeated teams with 10-10 record
                except IndexError:
                    wins += 10
                    losses += 10
                #print(opponent_losses)
            else:
                continue
        except ValueError:
            print("Invalid date value")
    # Set the values of the dataframe
    # Set the values of the dataframe
    seeding_data.at[i, "Defeated_Opponents_Wins"] += wins
    seeding_data.at[i, "Defeated_Opponents_Losses"] += losses
# See filled out dataframe
seeding_data

,Team,Wins,Losses,Points_For,Points_Against,Win_Percentage,Opponents_Wins,Opponents_Losses,Opponents_Win_Percentage,Opponents_Opponents_Wins,Opponents_Opponents_Losses,Opponents_Opponents_Win_Percentage,Defeated_Opponents_Wins,Defeated_Opponents_Losses
0,Abbotsford,13.0,8.0,1045.0,882.0,0.61905,179.0,197.0,0.47606,3656.0,3300.0,0.52559,61.0,141.0
1,Abundant Life Christian/St. Ambrose,10.0,9.0,984.0,833.0,0.52632,135.0,215.0,0.38571,2822.0,3216.0,0.46737,60.0,134.0
2,Adams-Friendship,7.0,14.0,845.0,931.0,0.33333,229.0,204.0,0.52887,4219.0,4034.0,0.51121,42.0,85.0
3,Albany,23.0,0.0,1501.0,705.0,1.00000,177.0,249.0,0.41549,3824.0,3919.0,0.49387,143.0,218.0
4,Algoma,10.0,13.0,1012.0,1025.0,0.43478,186.0,179.0,0.50959,3034.0,3229.0,0.48443,64.0,129.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
478,Wisconsin Rapids,6.0,17.0,1112.0,1355.0,0.26087,232.0,186.0,0.55502,3933.0,3678.0,0.51675,31.0,78.0
479,Wittenberg-Birnamwood,18.0,3.0,1265.0,767.0,0.85714,211.0,172.0,0.55091,3691.0,3268.0,0.53039,145.0,152.0
480,Wonewoc-Center,10.0,9.0,837.0,802.0,0.52632,177.0,183.0,0.49167,2982.0,3241.0,0.47919,46.0,115.0
481,Wrightstown,15.0,7.0,1192.0,1007.0,0.68182,174.0,175.0,0.49857,3067.0,2814.0,0.52151,76.0,144.0
482,Xavier,8.0,15.0,1190.0,1215.0,0.34783,282.0,152.0,0.64977,4277.0,3804.0,0.52927,58.0,69.0

In [15]:
seeding_data["Defeated_Opponents_Win_Percentage"] = round(seeding_data["Defeated_Opponents_Wins"] / (seeding_data["Defeated_Opponents_Wins"] + seeding_data["Defeated_Opponents_Losses"]), 5)
seeding_data

,Team,Wins,Losses,Points_For,Points_Against,Win_Percentage,Opponents_Wins,Opponents_Losses,Opponents_Win_Percentage,Opponents_Opponents_Wins,Opponents_Opponents_Losses,Opponents_Opponents_Win_Percentage,Defeated_Opponents_Wins,Defeated_Opponents_Losses,Defeated_Opponents_Win_Percentage
0,Abbotsford,13.0,8.0,1045.0,882.0,0.61905,179.0,197.0,0.47606,3656.0,3300.0,0.52559,61.0,141.0,0.30198
1,Abundant Life Christian/St. Ambrose,10.0,9.0,984.0,833.0,0.52632,135.0,215.0,0.38571,2822.0,3216.0,0.46737,60.0,134.0,0.30928
2,Adams-Friendship,7.0,14.0,845.0,931.0,0.33333,229.0,204.0,0.52887,4219.0,4034.0,0.51121,42.0,85.0,0.33071
3,Albany,23.0,0.0,1501.0,705.0,1.00000,177.0,249.0,0.41549,3824.0,3919.0,0.49387,143.0,218.0,0.39612
4,Algoma,10.0,13.0,1012.0,1025.0,0.43478,186.0,179.0,0.50959,3034.0,3229.0,0.48443,64.0,129.0,0.33161
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
478,Wisconsin Rapids,6.0,17.0,1112.0,1355.0,0.26087,232.0,186.0,0.55502,3933.0,3678.0,0.51675,31.0,78.0,0.28440
479,Wittenberg-Birnamwood,18.0,3.0,1265.0,767.0,0.85714,211.0,172.0,0.55091,3691.0,3268.0,0.53039,145.0,152.0,0.48822
480,Wonewoc-Center,10.0,9.0,837.0,802.0,0.52632,177.0,183.0,0.49167,2982.0,3241.0,0.47919,46.0,115.0,0.28571
481,Wrightstown,15.0,7.0,1192.0,1007.0,0.68182,174.0,175.0,0.49857,3067.0,2814.0,0.52151,76.0,144.0,0.34545
482,Xavier,8.0,15.0,1190.0,1215.0,0.34783,282.0,152.0,0.64977,4277.0,3804.0,0.52927,58.0,69.0,0.45669

In [ ]:
# Recalibrate the opponents' wins and losses
seeding_data["Defeated_Opponents_Opponents_Wins"] = 0.
seeding_data["Defeated_Opponents_Opponents_Losses"] = 0.
# Loop through all schools
for i in range(len(wiaa_gbb2223)):
    # Grab each record individually
    record = wiaa_gbb2223.iloc[i, :]
    # Set counters
    wins = 0
    losses = 0
    # Set teams played
    teams_played_all = record.iloc[3].split("', ")
    # Clean the strings
    for j in range(len(teams_played_all)):
        teams_played_all[j] = str(teams_played_all[j]).replace("[", "")
        teams_played_all[j] = str(teams_played_all[j]).replace("]", "")
        teams_played_all[j] = str(teams_played_all[j]).replace("'", "")
    # Get the set to get a unique list and cast it back to a list
    teams_played_unique = list(set(teams_played_all))
    # See if that worked
    #print(game_scores)
    # Set dates of games
    date_of_games = record.iloc[5].split(", ")
    # Clean dates
    for j in range(len(date_of_games)):
        date_of_games[j] = str(date_of_games[j]).replace("[", "")
        date_of_games[j] = str(date_of_games[j]).replace("]", "")
        date_of_games[j] = str(date_of_games[j]).replace("'", "")
        try:
            date_of_games[j] = datetime.strptime(str(date_of_games[j]), '%m/%d/%Y')
        except ValueError:
            date_of_games[j] = datetime.strptime("04/01/2023", '%m/%d/%Y')
    # Print the team
    team = str(record.iloc[0])
    teams_defeated = []
    #print(team)
    # Loop through to get the teams defeated before the seeding date
    for j in range(len(teams_played_all)):
        # Check the date to get games considered in seeding - any games after 02/13/2023 will not be considered
        try:
            if datetime(2023, 2, 12, 0, 0) >= date_of_games[j]:
                # Split the score
                team_score = game_scores[j].split("-")[0]
                opponent_score = game_scores[j].split("-")[1]
                # Check who won:
                if team_score > opponent_score:
                    teams_defeated.append(teams_played_all[j])
            else:
                continue
        except ValueError:
            print("Invalid date or team value")
    # get the unique teams defeated
    defeated_unique = list(set(teams_defeated))
    #print(team)
    # Loop through to get wins and losses prior to the seeding date
    for j in range(len(defeated_unique)):
        # Check the date to get games considered in seeding - any games after 02/13/2023 will not be considered
        try:
            if datetime(2023, 2, 12, 0, 0) >= date_of_games[j]:
                try:
                    # Get the opponents' record
                    oo_wins = seeding_data[seeding_data["Team"] == str(defeated_unique[j])]["Opponents_Wins"].values[0]
                    wins += oo_wins
                    #print(opponent_wins)
                    oo_losses = seeding_data[seeding_data["Team"] == str(defeated_unique[j])]["Opponents_Losses"].values[0]
                    losses += oo_losses
                # Case where team wasn't seeded or out of state, defeated 10 teams with 10-10 record
                except IndexError:
                    wins += 100
                    losses += 100
                #print(opponent_losses)
            else:
                continue
        except ValueError:
            print("Invalid date value")
    # Set the values of the dataframe
    seeding_data.at[i, "Defeated_Opponents_Opponents_Wins"] += wins
    seeding_data.at[i, "Defeated_Opponents_Opponents_Losses"] += losses
# See filled out dataframe
seeding_data

In [17]:
seeding_data["Defeated_Opponents_Opponents_Win_Percentage"] = round(seeding_data["Defeated_Opponents_Opponents_Wins"] / (seeding_data["Defeated_Opponents_Opponents_Wins"] + seeding_data["Defeated_Opponents_Opponents_Losses"]), 5)
seeding_data

,Team,Wins,Losses,Points_For,Points_Against,Win_Percentage,Opponents_Wins,Opponents_Losses,Opponents_Win_Percentage,Opponents_Opponents_Wins,Opponents_Opponents_Losses,Opponents_Opponents_Win_Percentage,Defeated_Opponents_Wins,Defeated_Opponents_Losses,Defeated_Opponents_Win_Percentage,Defeated_Opponents_Opponents_Wins,Defeated_Opponents_Opponents_Losses
0,Abbotsford,13.0,8.0,1045.0,882.0,0.61905,179.0,197.0,0.47606,3656.0,3300.0,0.52559,61.0,141.0,0.30198,1252.0,1113.0
1,Abundant Life Christian/St. Ambrose,10.0,9.0,984.0,833.0,0.52632,135.0,215.0,0.38571,2822.0,3216.0,0.46737,60.0,134.0,0.30928,952.0,1071.0
2,Adams-Friendship,7.0,14.0,845.0,931.0,0.33333,229.0,204.0,0.52887,4219.0,4034.0,0.51121,42.0,85.0,0.33071,1497.0,1530.0
3,Albany,23.0,0.0,1501.0,705.0,1.00000,177.0,249.0,0.41549,3824.0,3919.0,0.49387,143.0,218.0,0.39612,1449.0,1586.0
4,Algoma,10.0,13.0,1012.0,1025.0,0.43478,186.0,179.0,0.50959,3034.0,3229.0,0.48443,64.0,129.0,0.33161,1432.0,1487.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
478,Wisconsin Rapids,6.0,17.0,1112.0,1355.0,0.26087,232.0,186.0,0.55502,3933.0,3678.0,0.51675,31.0,78.0,0.28440,1369.0,1338.0
479,Wittenberg-Birnamwood,18.0,3.0,1265.0,767.0,0.85714,211.0,172.0,0.55091,3691.0,3268.0,0.53039,145.0,152.0,0.48822,1145.0,1062.0
480,Wonewoc-Center,10.0,9.0,837.0,802.0,0.52632,177.0,183.0,0.49167,2982.0,3241.0,0.47919,46.0,115.0,0.28571,1183.0,1313.0
481,Wrightstown,15.0,7.0,1192.0,1007.0,0.68182,174.0,175.0,0.49857,3067.0,2814.0,0.52151,76.0,144.0,0.34545,1189.0,1025.0
482,Xavier,8.0,15.0,1190.0,1215.0,0.34783,282.0,152.0,0.64977,4277.0,3804.0,0.52927,58.0,69.0,0.45669,1129.0,1162.0

,Team,Wins,Losses,Points_For,Points_Against,Win_Percentage,Opponents_Wins,Opponents_Losses,Opponents_Win_Percentage,Opponents_Opponents_Wins,Opponents_Opponents_Losses,Opponents_Opponents_Win_Percentage,Defeated_Opponents_Wins,Defeated_Opponents_Losses,Defeated_Opponents_Win_Percentage,Defeated_Opponents_Opponents_Wins,Defeated_Opponents_Opponents_Losses,Defeated_Opponents_Opponents_Win_Percentage
0,Abbotsford,13.0,8.0,1045.0,882.0,0.61905,179.0,197.0,0.47606,3656.0,3300.0,0.52559,61.0,141.0,0.30198,1252.0,1113.0,0.52939
1,Abundant Life Christian/St. Ambrose,10.0,9.0,984.0,833.0,0.52632,135.0,215.0,0.38571,2822.0,3216.0,0.46737,60.0,134.0,0.30928,952.0,1071.0,0.47059
2,Adams-Friendship,7.0,14.0,845.0,931.0,0.33333,229.0,204.0,0.52887,4219.0,4034.0,0.51121,42.0,85.0,0.33071,1497.0,1530.0,0.49455
3,Albany,23.0,0.0,1501.0,705.0,1.00000,177.0,249.0,0.41549,3824.0,3919.0,0.49387,143.0,218.0,0.39612,1449.0,1586.0,0.47743
4,Algoma,10.0,13.0,1012.0,1025.0,0.43478,186.0,179.0,0.50959,3034.0,3229.0,0.48443,64.0,129.0,0.33161,1432.0,1487.0,0.49058
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
478,Wisconsin Rapids,6.0,17.0,1112.0,1355.0,0.26087,232.0,186.0,0.55502,3933.0,3678.0,0.51675,31.0,78.0,0.28440,1369.0,1338.0,0.50573
479,Wittenberg-Birnamwood,18.0,3.0,1265.0,767.0,0.85714,211.0,172.0,0.55091,3691.0,3268.0,0.53039,145.0,152.0,0.48822,1145.0,1062.0,0.51880
480,Wonewoc-Center,10.0,9.0,837.0,802.0,0.52632,177.0,183.0,0.49167,2982.0,3241.0,0.47919,46.0,115.0,0.28571,1183.0,1313.0,0.47396
481,Wrightstown,15.0,7.0,1192.0,1007.0,0.68182,174.0,175.0,0.49857,3067.0,2814.0,0.52151,76.0,144.0,0.34545,1189.0,1025.0,0.53704
482,Xavier,8.0,15.0,1190.0,1215.0,0.34783,282.0,152.0,0.64977,4277.0,3804.0,0.52927,58.0,69.0,0.45669,1129.0,1162.0,0.49280

In [18]:
seeding_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 483 entries, 0 to 482
Data columns (total 18 columns):
 #   Column                                       Non-Null Count  Dtype
---  ------                                       --------------  -----
 0   Team                                         483 non-null    object
 1   Wins                                         483 non-null    float64
 2   Losses                                       483 non-null    float64
 3   Points_For                                   483 non-null    float64
 4   Points_Against                               483 non-null    float64
 5   Win_Percentage                               483 non-null    float64
 6   Opponents_Wins                               483 non-null    float64
 7   Opponents_Losses                             483 non-null    float64
 8   Opponents_Win_Percentage                     477 non-null    float64
 9   Opponents_Opponents_Wins                     483 non-null    float64
 10  Opponents_Opponents_Losses                   483 non-null    float64
 11  Opponents_Opponents_Win_Percentage           477 non-null    float64
 12  Defeated_Opponents_Wins                      483 non-null    float64
 13  Defeated_Opponents_Losses                    483 non-null    float64
 14  Defeated_Opponents_Win_Percentage            470 non-null    float64
 15  Defeated_Opponents_Opponents_Wins            483 non-null    float64
 16  Defeated_Opponents_Opponents_Losses          483 non-null    float64
 17  Defeated_Opponents_Opponents_Win_Percentage  477 non-null    float64
dtypes: float64(17), object(1)
memory usage: 87.9+ KB

In [19]:
seeding_data["Opponents_Win_Percentage"][seeding_data["Opponents_Win_Percentage"].isnull()==True] = 0.
seeding_data["Opponents_Opponents_Win_Percentage"][seeding_data["Opponents_Opponents_Win_Percentage"].isnull()==True] = 0.
seeding_data["Defeated_Opponents_Win_Percentage"][seeding_data["Defeated_Opponents_Win_Percentage"].isnull()==True] = 0.
seeding_data["Defeated_Opponents_Opponents_Win_Percentage"][seeding_data["Defeated_Opponents_Opponents_Win_Percentage"].isnull()==True] = 0.
seeding_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 483 entries, 0 to 482
Data columns (total 18 columns):
 #   Column                                       Non-Null Count  Dtype
---  ------                                       --------------  -----
 0   Team                                         483 non-null    object
 1   Wins                                         483 non-null    float64
 2   Losses                                       483 non-null    float64
 3   Points_For                                   483 non-null    float64
 4   Points_Against                               483 non-null    float64
 5   Win_Percentage                               483 non-null    float64
 6   Opponents_Wins                               483 non-null    float64
 7   Opponents_Losses                             483 non-null    float64
 8   Opponents_Win_Percentage                     483 non-null    float64
 9   Opponents_Opponents_Wins                     483 non-null    float64
 10  Opponents_Opponents_Losses                   483 non-null    float64
 11  Opponents_Opponents_Win_Percentage           483 non-null    float64
 12  Defeated_Opponents_Wins                      483 non-null    float64
 13  Defeated_Opponents_Losses                    483 non-null    float64
 14  Defeated_Opponents_Win_Percentage            483 non-null    float64
 15  Defeated_Opponents_Opponents_Wins            483 non-null    float64
 16  Defeated_Opponents_Opponents_Losses          483 non-null    float64
 17  Defeated_Opponents_Opponents_Win_Percentage  483 non-null    float64
dtypes: float64(17), object(1)
memory usage: 87.9+ KB

In [21]:
final_data = seeding_data[[
    "Team", 
    "Win_Percentage", 
    "Opponents_Win_Percentage", 
    "Defeated_Opponents_Win_Percentage",
    "Opponents_Opponents_Win_Percentage",
    "Defeated_Opponents_Opponents_Win_Percentage"
]]
# See final data
final_data.head()

,Team,Win_Percentage,Opponents_Win_Percentage,Defeated_Opponents_Win_Percentage,Opponents_Opponents_Win_Percentage,Defeated_Opponents_Opponents_Win_Percentage
0,Abbotsford,0.61905,0.47606,0.30198,0.52559,0.52939
1,Abundant Life Christian/St. Ambrose,0.52632,0.38571,0.30928,0.46737,0.47059
2,Adams-Friendship,0.33333,0.52887,0.33071,0.51121,0.49455
3,Albany,1.00000,0.41549,0.39612,0.49387,0.47743
4,Algoma,0.43478,0.50959,0.33161,0.48443,0.49058

In [22]:
# Merge with the seeding data - seeds and metrics
sm = final_data.merge(right=tourney_23, on="Team", how="inner").rename(columns={
    'Win_Percentage': "WP", 
    'Opponents_Win_Percentage': "OWP",
    'Defeated_Opponents_Win_Percentage': "DOWP",
    'Opponents_Opponents_Win_Percentage': "OOWP",
    'Defeated_Opponents_Opponents_Win_Percentage': "DOOWP"
})
sm.head()

,Team,WP,OWP,DOWP,OOWP,DOOWP,Division,Sectional,Seed,Year
0,Abbotsford,0.61905,0.47606,0.30198,0.52559,0.52939,4,1B,5,2023
1,Abundant Life Christian/St. Ambrose,0.52632,0.38571,0.30928,0.46737,0.47059,5,4A,8,2023
2,Adams-Friendship,0.33333,0.52887,0.33071,0.51121,0.49455,3,1B,6,2023
3,Albany,1.00000,0.41549,0.39612,0.49387,0.47743,5,4A,1,2023
4,Algoma,0.43478,0.50959,0.33161,0.48443,0.49058,4,2B,9,2023

In [23]:
sm.columns.values

array(['Team', 'WP', 'OWP', 'DOWP', 'OOWP', 'DOOWP', 'Division',
       'Sectional', 'Seed', 'Year'], dtype=object)

In [24]:
sm.describe()

               WP         OWP        DOWP        OOWP       DOOWP
count  461.000000  461.000000  461.000000  461.000000  461.000000
mean     0.501624    0.510555    0.362714    0.512495    0.512325
std      0.246619    0.055270    0.112352    0.026359    0.030521
min      0.000000    0.363870    0.000000    0.445370    0.423330
25%      0.304350    0.473800    0.287670    0.494760    0.491380
50%      0.500000    0.506370    0.365170    0.512510    0.513680
75%      0.681820    0.551180    0.438200    0.531850    0.533550
max      1.000000    0.655270    0.809520    0.575450    0.589770

In [25]:
sm.to_csv("seeding_metrics_wiaa_gbb_2023.csv", index=False)